<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开户界面</title>
</head>
<body>
    <h2>开户界面</h2>
    <form action="/bank/add" method="post">
        <select name="bank">
            <option value="0">---请选择银行---</option>
            <option value="1">Agriculture Bank of China</option>
            <option value="2">ICBC</option>
            <option value="3">CBC</option>
            <option value="4">BC</option>
        </select>
        <br><input name="username" size="20" placeholder="请输入用户名">
        <br><input name="phone" size="20" placeholder="请输入手机号">
        <button>提交</button>
    </form>

</body>
</html>